.step {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    align-items: center;
    @include laptop-only {
            flex-direction: row;
    }
    border: solid $tertiaire 1px;
    border-radius: 20px;
    
    &__hidden {
        visibility: hidden;
    }

}